.banar{
   background-image: url(Assets/Hero-bg.png);
  
}
nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.nav-title{
justify-items: center;
display: flex;
}